body {
    background-image: radial-gradient(#000000, #0a0a0a);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

/*Se a tela tiver menor que 400px, carrega esses estilos*/
@media (min-width: 400px) {

}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu {
    background-color: black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    list-style-type: none;
    padding: 14px;
}

.menu a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.menu img {
    width: 35px;
    height: 44px;
}

/* fim da nav*/

.img-profile{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    background-image: url("../img/Eu.jpg");
    background-size: cover;
    background-position: bottom -50px right 0px; 
    border: 5px solid white;
}

header h1, h2 {
    text-align: center;    
}

header h1{
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    margin-top: 40px;
}

header h2 {
    font-weight: 200;
    font-size: 32px;
    margin-top: 30px;
}

.sm-border {
    border-radius: 5px;
    width: 800px;
    height: 3px;
    margin-top: 15px;
    background: linear-gradient(-45deg,  #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
    background-size: 400%;
    animation: gradbar 5s ease infinite;      
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.box {
    position: absolute;
    bottom: 0;
}

.box spam {
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    display: block;
    height: 20px;
    width: 20px;
    margin: -10px;
    transform: rotate(45deg);
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-40px, -40px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(-10px, -10px);
    }
}

/*Fim da Home*/

.section h2 {
    font-weight: 500;
    font-size: 32px;
    padding-top: 100px;
}

/*
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
*/

.sub-border {
    border-radius: 5px;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    margin-top: 5px;
    background: white;
}

.about {
    height: 100vh;
}

.about p {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    line-height: 1.3;
    word-spacing: 1.1;
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}
